/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.container {
    max-width: 1440px;
    margin: 0 auto;
}
/* header */
.header {
    height: 80px;
    background-color: #141414;
}
.header__body {
    padding-top: 20px;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.login {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all .5s ease;
}

.login:hover {
    text-shadow: 1px 1px red;
}


/* main content */
.wrapper {
    background-color: #f4f4f4;
}
.wrapper .container {
    display: flex;
    align-items: center;
    padding-top: 40px;
    background-color: #fff;
}
.sidebar {
    width: 15%;
}
.content {
    width: 85%;
    margin-left: 40px;
}

.main-poster {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 75%;
    margin: 0 auto;
    background-size: cover;
    height: 450px;
    border-radius: 15px;
}
.film-logo {
    width: 50%;
    margin-left: 20px;
}
.film-description {
    width: 50%;
}
.person-info {
    color: #fff;
    line-height: 1.2;
    padding: 10px 0px 10px 20px;
}
.trailer_link {
    margin-left: 20px;
    width: 150px;
    text-decoration: none;
    background: linear-gradient(135deg,#f50 69.93%,#d6bb00);
    padding: 20px;
    border-radius: 100px;
    color: #fff;
    font-weight:500;
    transition: all .6s ease;
}
.trailer_link:hover {
    cursor: pointer;
    transform: scale(1.05);
}
/* movies page */

.movies__container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.film-poster img {
    width: 100%;
    border-radius: 10px;
}


